<!DOCTYPE html>
<html>
  <head>
    <title>YOUdemy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script type="text/javascript">
      window.youdemy_logo = "<%= image_url('youdemy.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
